
@{
    ViewBag.Title = "Accounts";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Accounts</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <link rel="icon" href="~/img/icon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/icon.ico" type="image/x-icon" />

</head>
<body id="reportsPage">

    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <!--a class="navbar-brand" href="~/Views/Home/Index.cshtml"-->
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <h1 class="tm-site-title mb-0">IFOOD</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-tachometer-alt"></i> 查詢營養素
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                        -->
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span> 資料清單 <i class="fas fa-angle-down"></i> </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li>*@
                    @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Products", "Home")">
                                <i class="fas fa-shopping-cart"></i> Products
                            </a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Accounts", "Home")">
                            <i class="far fa-user"></i> 會員註冊
                        </a>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span> Settings <i class="fas fa-angle-down"></i> </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>*@
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="@Url.Action("Login", "Home")">
                            <b>登入會員</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        @*<div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                        <h2 class="tm-block-title">List of Accounts</h2>
                        <p class="text-white">Accounts</p>
                        <select class="custom-select">
                            <option value="0">Select account</option>
                            <option value="1">Admin</option>
                            <option value="2">Editor</option>
                            <option value="3">Merchant</option>
                            <option value="4">Customer</option>
                        </select>
                    </div>
                </div>
            </div>*@
        <!-- row -->
        <div class="row tm-content-row">
            @*<div class="tm-block-col tm-col-avatar">
                    <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                        <h2 class="tm-block-title">Change Avatar</h2>
                        <div class="tm-avatar-container">
                            <img src="~/img/avatar.png"
                                 alt="Avatar"
                                 class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link">
                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                            </a>
                        </div>
                        <button class="btn btn-primary btn-block text-uppercase">
                            Upload New Photo
                        </button>
                    </div>
                </div>*@
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">會員註冊</h2>
                    <form action="" method="post" class="tm-signup-form row">
                        <!--
                        <div class="form-group col-lg-6">
                            <label for="name">使用者帳號</label>
                            <input id="UserID"
                                   name="UserID"
                                   type="text"
                                   class="form-control validate" />
                        </div>
                        -->
                        <div class="form-group col-lg-6">
                            <label for="name">姓名</label>
                            <input id="name"
                                   name="Username"
                                   type="text"
                                   class="form-control validate"  required/>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="email">信箱</label>
                            <input id="email"
                                   name="Email"
                                   type="email"
                                   class="form-control validate" required />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="password">密碼</label>
                            <input id="password"
                                   name="Password"
                                   type="password"
                                   class="form-control validate" required/>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="password2">再次輸入密碼</label>
                            <input id="password2"
                                   name="password2"
                                   type="password"
                                   class="form-control validate" required/>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="tm-hide-sm">&nbsp;</label>
                            <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase">
                                下一步
                            </button>
                            <p class="tm-block-title">@ViewBag.Message</p>
                            @*<a class="mt-5 btn btn-primary btn-block " href="@Url.Action("AccountsGoalAdd", "Home")">
                                    下一步
                                </a>*@
                        </div>
                        @*<div class="col-12">
                                <button type="submit"
                                        class="btn btn-primary btn-block text-uppercase">
                                    註冊前往下一步
                                </button>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
</body>
</html>
